<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.6.24" package="com.hsaalen.wertheapp" android:versionCode="3">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />
	<application android:label="WertheApp" android:icon="@drawable/werthebach3"></application>
</manifest>